/* shared styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* nav started here */

.nav-container{
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.nav {
    display: flex;
    align-items: center;
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
    gap: 18px;
}

.nav-title {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}

.nav-color-letter {
    color: #FF42A5;
}

.menu-items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.follow-section {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 262px;
    height: 56px;
    margin-left: 70px
}
.nav-right{
    align-items: ;
}