/* shared styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* nav started here */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.nav {
    display: flex;
}

.menu-items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}